<!DOCTYPE html>
<html>
   <head>
      <title></title>

      <meta charset="utf-8" />
      <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
      <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

      <script>
         var obj = [
            {
               rh: 83,
               pod: "1",
               lon: -43.21,
               pres: 1017.6,
               timezone: "2",
               ob_time: "3",
               country_code: "4",
               clouds: 0,
               ts: 1587852000,
               solar_rad: 0,
               state_code: "5",
               city_name: "6",
               wind_spd: 3.6,
               last_ob_time: "7",
               wind_cdir_full: "8",
               wind_cdir: "9",
               slp: 1018,
               vis: 5,
               h_angle: -90,
               sunset: "10",
               dni: 0,
               dewpt: 20.9,
               snow: 0,
               uv: 0,
               precip: 0,
               wind_dir: 190,
               sunrise: "11",
               ghi: 0,
               dhi: 0,
               aqi: 35,
               lat: -22.9,
               weather: "12",
               datetime: "13",
               temp: 24,
               station: "14",
               elev_angle: -34.81,
               app_temp: 24.7,
            },
            "n",
            "America/Sao_Paulo",
            "2020-04-25 22:00",
            "BR",
            "21",
            "Rio de Janeiro",
            "2020-04-25T22:00:00",
            "south",
            "S",
            "20:30",
            "09:10",
            { icon: "15", code: "16", description: "17" },
            "2020-04-25:22",
            "SBRJ",
            "c01n",
            "800",
            "Clear sky",
         ];

         const iter = () => {
            //console.log(obj[0]);
            //console.log(obj[2]);
            console.log(obj[0]["pres"]);
            console.log(obj[12]["icon"]);
            console.log();
            obj.forEach((e, i) => {
               //console.log("i: " + i);
               //console.log(e);
            });
         };
      </script>

      <style></style>
   </head>
   <body>
      <button onclick="iter()">do it</button>
   </body>
</html>
